<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>sdetail</title>
<script src='js/jquery-3.5.1.js'></script>
<script type="text/javascript">
function fn_logout(){
	
}


</script>
</head>

<body>
<a href="main" >메인화면</a>
<a href="suser" >사용자관리</a>
<a href="survey" >설문관리</a>
<a href="sdetail" >문항관리</a>
<a href="starget" >타겟관리</a>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="login.html" >로그인</a> 
&nbsp;
<a href="javascript:fn_logout()" >로그아웃</a> 

<br/>

{% block content %}{% endblock %}

<br/>
all right reserved by aimaker.kr
</body>
</html>

