<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HELLOWEB2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyCon</display-name>
    <servlet-name>MyCon</servlet-name>
    <servlet-class>com.naver.web.MyCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCon</servlet-name>
    <url-pattern>/mycon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDb</display-name>
    <servlet-name>MyDb</servlet-name>
    <servlet-class>com.naver.web.MyDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDb</servlet-name>
    <url-pattern>/mydb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpCon</display-name>
    <servlet-name>EmpCon</servlet-name>
    <servlet-class>com.naver.web.EmpCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpCon</servlet-name>
    <url-pattern>/empcon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamCon</display-name>
    <servlet-name>ExamCon</servlet-name>
    <servlet-class>com.naver.web.ExamCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamCon</servlet-name>
    <url-pattern>/examcon</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Ajaxinsert</display-name>
    <servlet-name>Ajaxinsert</servlet-name>
    <servlet-class>ncspartner.util.Ajaxinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajaxinsert</servlet-name>
    <url-pattern>/insert.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajaxupdate</display-name>
    <servlet-name>Ajaxupdate</servlet-name>
    <servlet-class>ncspartner.util.Ajaxupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajaxupdate</servlet-name>
    <url-pattern>/update.ajax</url-pattern>
  </servlet-mapping>
    
    <servlet>
    <description></description>
    <display-name>Ajaxdelete</display-name>
    <servlet-name>Ajaxdelete</servlet-name>
    <servlet-class>ncspartner.util.Ajaxdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajaxdelete</servlet-name>
    <url-pattern>/delete.ajax</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AjaxExamInsert</display-name>
    <servlet-name>AjaxExamInsert</servlet-name>
    <servlet-class>ncspartner.util.AjaxExamInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxExamInsert</servlet-name>
    <url-pattern>/examinsert.ajax</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AjaxExamUpdate</display-name>
    <servlet-name>AjaxExamUpdate</servlet-name>
    <servlet-class>ncspartner.util.AjaxExamUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxExamUpdate</servlet-name>
    <url-pattern>/examupdate.ajax</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AjaxExamDelete</display-name>
    <servlet-name>AjaxExamDelete</servlet-name>
    <servlet-class>ncspartner.util.AjaxExamDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxExamDelete</servlet-name>
    <url-pattern>/examdelete.ajax</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DetailCon</display-name>
    <servlet-name>DetailCon</servlet-name>
    <servlet-class>com.naver.web.DetailCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailCon</servlet-name>
    <url-pattern>/detailcon</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>DetailAjaxInsert</display-name>
    <servlet-name>DetailAjaxInsert</servlet-name>
    <servlet-class>ncspartner.util.DetailAjaxInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailAjaxInsert</servlet-name>
    <url-pattern>/detailinsert.ajax</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>DetailAjaxUpdate </display-name>
    <servlet-name>DetailAjaxUpdate </servlet-name>
    <servlet-class>ncspartner.util.DetailAjaxUpdate </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailAjaxUpdate </servlet-name>
    <url-pattern>/detailupdate.ajax</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>DetailAjaxDelete</display-name>
    <servlet-name>DetailAjaxDelete</servlet-name>
    <servlet-class>ncspartner.util.DetailAjaxDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailAjaxDelete</servlet-name>
    <url-pattern>/detaildelete.ajax</url-pattern>
  </servlet-mapping>
  
  
  
  
  
</web-app>