<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>chart</title>
<script src="js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="jqplot/jquery.jqplot.js"></script>
<script type="text/javascript" src="jqplot/plugins/jqplot.barRenderer.js"></script>
<script type="text/javascript" src="jqplot/plugins/jqplot.pointLabels.js"></script>
<script type="text/javascript" src="jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
<link rel="stylesheet" type="text/css" href="jqplot/jquery.jqplot.css" />

<script type="text/javascript">

$(document).ready(function(){
    var cnt_1234;
    var ans_1234;

    {% for i, s in enumerate(list) %}
    cnt_1234 = [{{s.c1}}, {{s.c2}}, {{s.c3}}, {{s.c4}}];
    ans_1234 = ['{{s.a1}}', '{{s.a2}}', '{{s.a3}}', '{{s.a4}}'];
    $('.mychart').eq({{i}}).jqplot([cnt_1234], {
        seriesDefaults:{
            renderer:$.jqplot.BarRenderer,
            rendererOptions: { barWidth: 25 },
            pointLabels: { show: true, formatString: '%d' }
        },
        axes:{
            xaxis:{
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ans_1234
            }
        }
    });
    {% endfor %}
    
   
});

</script>
</head>
<body>



{% for i, s in enumerate(list) %}
{{i}}.{{s.question}}
<div class="mychart" style="height:100px;width:300px; "></div>
{% endfor %}


<br/>
</div>
all right reserved by aimaker.kr

</body>
</html>































