{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}



<script type="text/javascript">
	$(document).ready(function(){

	});

	function fn_list(){
		location.href="snotice_list"
	}
	function fn_mod(){
		document.frm.submit();
	}


	
</script>
<form name="frm" action="snotice_modact" method="post" >
<input type="hidden" name="b_seq" value="{{notice.b_seq}}">
<table border="1px">

	<tr>
		<th>공지번호</th>		<td>{{notice.b_seq}}</td>
	</tr>
	<tr>
		<th>제목</th>			
		<td>
			<input type="text" name="title" value="{{notice.title}}">
		</td>
	</tr>
	<tr>
		<th>표시여부</th>		
		<td>
			<input type="text" name="display_yn" value="{{notice.display_yn}}">
		</td>
	</tr>
	<tr>
		<th>내용</th>			
		<td>
			<textarea name="content" rows="9" cols="20">{{notice.content}}</textarea>
		</td>
	</tr>
	<tr>
		<th>첨부파일</th>			
		<td>{{notice.attach_file}}</td>
	</tr>	
	<tr>
		<th>조회수</th>			
		<td>{{notice.hit}}</td>
	</tr>
	<tr>
		<th>작성자</th>			
		<td>{{notice.in_user_name}}</td>
	</tr>
	<tr>
		<th>작성일자</th>			
		<td>{{notice.in_date}}</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" onclick="fn_list()" value="목록" /> 
			<input type="button" onclick="fn_mod()" value="수정완료" /> 
		</td>			

	</tr>

</table>
</form>
{% endblock %}

