{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}
<link rel="stylesheet" href="css/common.css">

<script type="text/javascript">

	$(document).ready(function(){
		
	});
	
	function fn_detail(b_seq){
		location.href = "snotice_detail?b_seq="+b_seq
	}
	function fn_add(){
		location.href = "snotice_add"
	}
	
</script>
<input type="button" value="글쓰기" onclick="fn_add()"> 


<table  class="scrolltbody">
	<tr>

		<td>공지번호</td>
		<td>제목</td>
		<td>작성자</td>
		<td>작성일시</td>
	</tr>
		{% for s in list %}
	<tr>
		<td>{{s.b_seq}}</td>
		<td><a href="javascript:fn_detail('{{s.b_seq}}')">{{s.title}}</a></td>
		<td>{{s.in_user_name}}</td>
		<td>{{s.in_date}}</td>
	</tr>
	{% endfor %}
</table>




{% endblock %}

