{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}



<script type="text/javascript">
	$(document).ready(function(){

	});

	function fn_list(){
		location.href="snotice_list"
	}
	function fn_mod(){
		location.href="snotice_mod?b_seq={{notice.b_seq}}"
	}
	function fn_del(){
		var flag_ok =confirm("한번 삭제된 자료는 복구가 불가합니다. 그래도 하시렵니까?");
		if(flag_ok){
			location.href="snotice_delact?b_seq={{notice.b_seq}}"		
		}
	}

	
</script>

<table border="1px">

	<tr>
		<th>공지번호</th>		<td>{{notice.b_seq}}</td>
	</tr>
	<tr>
		<th>제목</th>			<td>{{notice.title}}</td>
	</tr>
	<tr>
		<th>표시여부</th>		<td>{{notice.display_yn}}</td>
	</tr>
	<tr>
		<th>내용</th>			
		<td>{{notice.content}}</td>
	</tr>
	<tr>
		<th>첨부파일</th>			
		<td>{{notice.attach_file}}</td>
	</tr>	
	<tr>
		<th>조회수</th>			
		<td>{{notice.hit}}</td>
	</tr>
	<tr>
		<th>작성자</th>			
		<td>{{notice.in_user_name}}</td>
	</tr>
	<tr>
		<th>작성일자</th>			
		<td>{{notice.in_date}}</td>
	</tr>
	<tr>
		<td colspan="2">
			<button onclick="fn_list()" >목록</button>
			<button onclick="fn_mod()" >수정</button>
			<button onclick="fn_del()" >삭제</button>
		</td>			

	</tr>

</table>

{% endblock %}

